@import url(./layout.css);
@import url(./style.css);
/* menu */
.nav-container{position:relative;margin:auto auto 2%;z-index:2;}
.main-nav{font-size:1.25rem;padding:1rem 0;width:100%;display:flex;justify-content:center;position:relative;}
.main-nav li{position:relative}
.main-nav>li>a{color:white;text-decoration:none;padding:0.5rem 1rem;display:block;cursor:pointer;position:relative}
.sub-menu{position:absolute;list-style:none;background-color:white;border-radius:1rem;padding:1rem;min-width:150px;display:none;top:100%;left:0;z-index:3;box-shadow:0px 15px 30px rgba(0,0,0,0.1);}
.sub-menu li a{text-decoration:none;padding:0.25rem;display:block;cursor:pointer;font-size:1.125rem;display:flex;align-items:center;}
.sub-menu li svg{width:1.85rem;padding:0.35rem;background-color: var(--light-blue);border-radius: 0.5rem;margin: auto 0.5rem auto 0;}
.menu-toggle{display:none;color:white;padding:1rem;cursor:pointer;font-size:1.5rem;}
.nav-container.fixed{position:fixed;width:100%;top:0;left:0;box-shadow:0 15px 30px rgba(0,0,0,.15);background-color:white}
.target-fix{position:relative;top:-250px;display:block;visibility:hidden;}
/* header */
.header-wrapper{padding:0 0 2rem;}
.mask{position:relative;}
.mask::before{content:'';position:absolute;left:0;top:0;width:100%;height:100%;background-color:rgba(0, 0, 0, 0.25);}
.avatar{position:relative;}
.avatar figure{width:150px;height:150px;border-radius:50%;overflow:hidden;}
.avatar figcaption{color:white;padding:0rem 0rem 0rem 1rem;}
.avatar dl dt{font-size:2rem;font-weight:500;}
.avatar dl dd{font-size:1.25rem;}
.avatar dl dd ul li{padding:0rem 0.25rem;}
/* footer */
.footer{background-color:var(--soft-pink);height:3rem;}
@media (min-width:1180px){
    .lg\:hidden{display:none;}    
    .nav-container.fixed li.firstname{display:initial;}
    .main-nav .firstname{font-weight:bold;position:absolute;left:10%;right:auto;}
    .main-nav .firstname a{padding:0.5rem 0;font-family: 'Montserrat', sans-serif;}
    .nav-container.fixed li a,.nav-container.fixed .menu-toggle{color:initial;}
}
@media (max-width:1179px){
    .md\:hidden{display:none;}   
    .md\:pb-0{padding-bottom:0;}
    /* menu */    
    .menu-toggle{display:block;z-index:3;position:relative;}
    .nav-container.fixed .menu-toggle{color:initial;}
    .main-nav{display:none;position:fixed;top:0;left:0;width:250px;height:100%;background:#333;padding:60px 0 0;flex-direction:column;transform:translateX(-100%);transition:transform .3s ease;z-index:2}
    .main-nav.active{display:flex;transform:translateX(0);justify-content:flex-start;}
    .sub-menu{position:static;width:100%;background:#444;border-radius:initial;display:none;}
    .sub-menu li a{color:white;}
    .main-nav>li>a.has-submenu::after{content:'+';position:absolute;right:10px;}
    .main-nav>li>a.has-submenu.active::after{content:'-'}    
    .main-nav>li>a.has-submenu::after{display:inline-block}  
    .nav-container.fixed .menu-toggle.active{color:white}
    .nav-container .logo{font-family: 'Montserrat', sans-serif;color:white;font-size:1.25rem;font-weight:bold;text-decoration:none;}
    .nav-container.fixed .logo{display:initial;color:initial;}
    .target-fix{top:-180px;}
    /* footer */
    .footer{height:2rem;}
}
@media (max-width:767px){
    /* header */
    .header-wrapper{background-size:cover;}
    .avatar figcaption{padding:1rem 0 0;}
    .avatar dl dd ul li:first-of-type{padding-left:0;}
}
